.album-item{
    margin: 2em;
    width: 100%;
    border: 2px solid black;
    padding: 1em 0;
    display: flex;
    flex-direction: column;
    padding: 2em 1em;
    min-height: 350px;
}

.heart-icon{
    cursor: pointer;
    font-size: 1.5em;
}

.payment-icon{
    cursor: pointer;
    font-size: 1.5em;
}

.comment-icon{
    cursor: pointer;
    font-size: 1.5em;
}

.interaction-container{
    justify-content: space-around;
    display: flex;
    margin: .5em 0em;
}

.post-description{
    display: flex;
}

.profile-information{
    display: flex;
}

.search{
    position: relative;
}

.search-box{
    border: 1px solid gray;
    border-radius: 5px;
    padding-left: 24px;
    width: 100%;
    min-width: 200px;
    margin: 0 2em;
}

.search-icon{
    position: absolute;
    left: 3em;
    top: .56em;
    font-size: 12px;
}