:root {
  --bg-color: #d32f2f;
  --bg-accent-color: #f8f8ff;
  --header-color: #f8f8ff;
  --header-accent-color: #d32f2f;
  --link-color: #f8f8ff;
  --link-accent-color: #ff6659;
  --text-color: #f8f8ff;
  --text-accent-color: #020024;

}

html{
  background-color: var(--bg-color);
}

.App {
  text-align: center;
}

.profile-box{
  display: flex;
  flex-direction: column;
}

.feed-container{
  display: flex;
  flex-direction: column;
  width: 80%;
}

.content{
  display: flex;
  width: 70%;
  padding: 5%;
  justify-content: flex-start;
}

.flex-container{
  display: flex;
  background-color: var(--bg-accent-color);
}

